@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/NunitoSans_7pt-Regular.ttf");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/NunitoSans_7pt_Condensed-Bold.ttf");
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.815);
    font-family: Nunito Sans;
}

.wrapper {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.for_slider {
    max-width: 50rem;
    width: 50vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

}

.wrap_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    cursor: pointer;
}

.for_slider #button1:checked~.under_image .wrap_buttons .circle.one span{
    border-color: rgb(49, 82, 157);
    background: transparent;
  }  

  .for_slider #button2:checked~.under_image .wrap_buttons .circle.two span{
    border-color: rgb(49, 82, 157);
    background: transparent;
  }  

  .for_slider #button3:checked~.under_image .wrap_buttons .circle.three span{
    border-color: rgb(49, 82, 157);
    background: transparent;
  }  

  .for_slider #button4:checked~.under_image .wrap_buttons .circle.four span{
    border-color: rgb(49, 82, 157);
    background: transparent;
  }  

  .for_slider #button5:checked~.under_image .wrap_buttons .circle.five span{
    border-color: rgb(49, 82, 157);
    background: transparent;
  }  

  .for_slider #button1:checked:hover~.under_image .wrap_buttons .circle.one span {
    box-sizing: border-box;
    background-color:  transparent;
    border-color: #dfdfdf;
    transition: all .4s ease;
}

.for_slider #button2:checked:hover~.under_image .wrap_buttons .circle.two span {
    box-sizing: border-box;
    background-color:  transparent;
    border-color: #dfdfdf;
    transition: all .4s ease;
}

.for_slider #button3:checked:hover~.under_image .wrap_buttons .circle.three span {
    box-sizing: border-box;
    background-color:  transparent;
    border-color: #dfdfdf;
    transition: all .4s ease;
}

.for_slider #button4:checked:hover~.under_image .wrap_buttons .circle.four span {
    box-sizing: border-box;
    background-color:  transparent;
    border-color: #dfdfdf;
    transition: all .4s ease;
}

.for_slider #button5:checked:hover~.under_image .wrap_buttons .circle.five span {
    box-sizing: border-box;
    background-color:  transparent;
    border-color: #dfdfdf;
    transition: all .4s ease;
}

.wrap_buttons label {
    padding: 0.3rem 0.9rem 0.9rem 0.9rem;
}


.wrap_buttons label span {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    width: 2vh;
    height: 2vh;
    border: 2px solid;
    border-color: rgb(49, 82, 157);
    background: rgb(49, 82, 157);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.for_slider label:hover span {
    background-color: white;
    border-color: #dfdfdf;
    transition: all .4s ease;
    box-sizing: border-box;
}


.box_borders {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.slider_for_images {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    flex-direction: row;
    transition: all .2s ease-in-out;
}

.meme {
    transition: all .6s ease;
    min-width: 100%;
}

.meme img{
    min-width: 100%;
    height: 32rem;
    border-radius: 1vh;
}

img {
    display: block;
    width: 100%;
}

input[name="radio_buttons"] {
    display: none;
}

.for_slider #button1:checked~.box_borders .slider_for_images .ON{
    margin-left: 0%;
}

.for_slider #button2:checked~.box_borders .slider_for_images .ON{
    margin-left: -100%;
}
.for_slider #button3:checked~.box_borders .slider_for_images .ON{
    margin-left: -200%;
}
.for_slider #button4:checked~.box_borders .slider_for_images .ON{
    margin-left: -300%;
}
.for_slider #button5:checked~.box_borders .slider_for_images .ON{
    margin-left: -400%;
}

.for_slider #button1:checked ~ .under_image .for_text .text_wrap {
    transform: translateX(0);
}

.for_slider #button2:checked ~ .under_image .for_text .text_wrap {
    transform: translateX(-100%);
}
.for_slider #button3:checked ~ .under_image .for_text .text_wrap{
    transform: translateX(-200%);
}
.for_slider #button4:checked ~ .under_image .for_text .text_wrap{
    transform: translateX(-300%);
}
.for_slider #button5:checked ~ .under_image .for_text .text_wrap{
    transform: translateX(-400%);
}


.under_image {
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
}

.for_text {
    width: 65%;
    overflow: hidden;
}
.text_wrap {
    display: flex;
    flex-direction: row;
    transition: all 1s ease-in-out;
}

.words {
    width: 100%;
    min-width: 100%;
    display: flex;
    z-index: 5;
}


p {
    width: 100%;
    min-width: 100%;
    margin-bottom: 0;
    color: white;
    font-size: 3vh;
    text-align: left;
}

@media screen and (max-width: 1250px) {

    .for_slider{
        width: 70vw;
        max-width: 70vw;
    }

}

@media screen and (max-width: 1024px) {

    .for_slider{
        width: 70vw;
        max-width: 70vw;
    }

    .for_text {
        width: 50%;
    }

    .wrapper {
        min-width: 0;
    }


}


@media screen and (max-width: 900px) {

    .box_borders {
        height: 50%;
    }
    .for_slider{
        width: 80vh;
        height: 80vh;
    }

    .meme img {
        height: 100%;
    }
}

@media screen and (max-width: 680px) {
    p {
        font-size: 2vh;
    }

    .wrap_buttons label span {
        width: 1rem;
        height: 1rem;
    }
    .wrap_buttons label {
        padding: 0.9rem 0.9rem 0.9rem 0.9rem;
    }
}

@media screen and (max-width: 654px) {

    .circle {
        width: auto;
    }
    .for_slider {
        width: 70vh;
        height: 70vh;
        gap: 1rem;
    }

    .under_image{
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        justify-content: space-between;
        gap: 1rem;

    }

    .text_wrap{
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    .for_text {
        width: 70%;
        align-self: flex-start;
    }

    .wrap_buttons {
        width: 100%;
    }

}

/* мобильная версия от 500px до 420px */
@media screen and (max-width: 420px) {
    .under_image{
        max-height: 100%;
    }

    .for_text {
        width: 100%;
    }
}



    
