@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/NunitoSans_7pt-Regular.ttf");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/NunitoSans_7pt_Condensed-Bold.ttf");
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.815);
    font-family: Nunito Sans;
}

.wrapper {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.for_slider {
    max-width: 50rem;
    width: 50vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

}

.wrap_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1vh;
    z-index: 20;
}

.circle {
    height: 1.5vh;
    width: 1.5vh;
    background-color: rgb(67, 141, 205);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1%;
    transition: all .4s ease;
}

.circle:hover {
    opacity: 50%;
}

.box_borders {
    margin-top: 5%;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.slider_for_images {
    display: flex;
    flex-direction: row;
    transition: all .2s ease-in-out;
}

.meme {
    transition: all .6s ease;
    width: 100%;
}

.meme img{
    min-width: 100%;
    height: 32rem;
    border-radius: 1vh;
}

input[name="radio_buttons"] {
    display: none;
}

.for_slider #button1:checked~.box_borders .slider_for_images .ON{
    margin-left: 0%;
}

.for_slider #button2:checked~.box_borders .slider_for_images .ON{
    margin-left: -100%;
}
.for_slider #button3:checked~.box_borders .slider_for_images .ON{
    margin-left: -200%;
}
.for_slider #button4:checked~.box_borders .slider_for_images .ON{
    margin-left: -300%;
}
.for_slider #button5:checked~.box_borders .slider_for_images .ON{
    margin-left: -400%;
}

.for_slider #button1:checked ~ .under_image .for_text .text_wrap {
    transform: translateX(0);
}

.for_slider #button2:checked ~ .under_image .for_text .text_wrap {
    transform: translateX(-100%);
}
.for_slider #button3:checked ~ .under_image .for_text .text_wrap{
    transform: translateX(-200%);
}
.for_slider #button4:checked ~ .under_image .for_text .text_wrap{
    transform: translateX(-300%);
}
.for_slider #button5:checked ~ .under_image .for_text .text_wrap{
    transform: translateX(-400%);
}


.under_image {
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
}

.for_text {
    width: 50%;
    overflow: hidden;
}
.text_wrap {
    display: flex;
    flex-direction: row;
    transition: all 1s ease-in-out;
}

.words {
    width: 100%;
    min-width: 100%;
    display: flex;
    z-index: 5;
}


p {
    width: 100%;
    min-width: 100%;
    margin-bottom: 0;
    color: white;
    font-size: 3vh;
    text-align: left;
}





    
